# Archivos y carpetas generados por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Archivos de configuración de Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta

# Archivos de sistema
.DS_Store
*.swp
*.bak
*.tmp
*.orig
*.old

# Archivos de paquetes
Packages/packages-lock.json

# Archivos de compilación
*.apk
*.aab
*.unitypackage

# Otros
/[Aa]ssets/AssetStoreTools* 